fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
python-dotenv
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-groq
chromadb
sentence-transformers
unstructured
markdown
beautifulsoup4
requests
